.import-container {
  display: inline-block;
  max-width: 100%;
  margin-top: 10px;
}

.import-wrapper {
  padding: 20px;
  background-color: #282a2e;
  border: 1px solid #1e1e1e;
  border-radius: 20px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.import-form {
  padding: 20px;
  border: 5px dashed #676867;
  border-radius: 10px;
  cursor: pointer;
}

.import-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px 0;
}

.import-details > * {
  margin-top: 20px;
}

.import-details span {
  color: #c5c8c6;
  font-weight: bold;
}

.import-message {
  white-space: normal;
  padding: 0 20px;
  word-wrap: break-word;
  max-width: 300px;
}

.import-message.error {
  color: #e82e57;
}

.import-button-wrapper {
  display: none;
  width: 100%;
  padding: 0 20px;
}

.import-button {
  border: 0;
  box-shadow: none;
  border-radius: 0px;

  width: 100%;
  padding: 15px;
  background: #191919 !important;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  color: #c5c8c6;
  border-radius: 10px;
  cursor: pointer;
}

.import-button.transparent {
  background: transparent !important;
  padding: 10px;
}

.import-progress-container {
  display: none;
  width: 100%;
  padding: 0 20px;
}

.import-progress {
  height: 30px;
  background: linear-gradient(45deg, #c7c7c7, #ae81ff);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.import-progress-label {
  color: #282a2e !important;
}

/* SPINNER */

.loader,
.loader:after {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}
.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.5em solid rgba(255, 255, 255, 0.2);
  border-right: 0.5em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.5em solid rgba(255, 255, 255, 0.2);
  border-left: 0.5em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
