{{define "base"}}
{{ $playing := .Playing }}
<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/theme.css">
    <link rel="stylesheet" type="text/css" href="/static/upload.css">
    <link rel="stylesheet" type="text/css" href="/static/import.css">

    {{if $playing.ID}}
    <meta property="og:title" content="{{$playing.Title}}"/>
    <meta property="og:type" content="video.other"/>
    <meta property="og:image" content="/t/{{ $playing.ID}}"/>
    <meta property="og:video" content="/v/{{ $playing.ID }}.mp4">
    <meta property="og:video:url" content="/v/{{ $playing.ID }}.mp4">
    <meta property="og:video:secure_url" content="/v/{{ $playing.ID }}.mp4">
    <meta property="og:description" content="{{$playing.Description}}"/>
    <meta property="og:site_name" content="Tube"/>
    <meta property="og:url" content="/v/{{ $playing.ID }}"/>
    {{end}}

    {{ template "stylesheets" . }}
    {{ template "css" . }}
    <title>Tube</title>
  </head>
<body>
  <nav>
    <a href="/">Tube</a>
    <a class="centered" style="text-indent: 0;" href="/upload">Upload</a>
  </nav>
  <main>
    {{template "content" .}}
  </main>
  <footer>
    <p><a href="https://github.com/prologic/tube">Tube</a> is CopyRight © 2020 <a href="https://github.com/prologic">James Mills / prologic</a>. All Rights Reserved.</p>
    <p>All Content herein Public Domain and User Contributed.</p>
  </footer>
</body>
{{ template "scripts" . }}
</html>
{{end}}
{{ define "css" }}{{ end }}
{{ define "scripts" }}{{ end }}
{{ define "stylesheets" }}{{ end }}
